/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┳┓┏┓┏┓┳
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┣┫┃┃┣ ┃
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┛┗┗┛┻ ┻
 *                             
 */


* {
    primary: #0061a7;
    primary-fixed: #d2e4ff;
    primary-fixed-alpha: rgba(210, 228, 255, 0.2);
    primary-fixed-dim: #a0c9ff;
    on-primary: #ffffff;
    on-primary-fixed: #001c37;
    on-primary-fixed-variant: #00487f;
    primary-container: #d2e4ff;
    on-primary-container: #001c37;
    secondary: #535e7e;
    secondary-fixed: #dae2ff;
    secondary-fixed-dim: #bbc6ea;
    on-secondary: #ffffff;
    on-secondary-fixed: #0f1a37;
    on-secondary-fixed-variant: #3b4665;
    secondary-container: #dae2ff;
    on-secondary-container: #0f1a37;
    tertiary: #595a8b;
    tertiary-fixed: #e1dfff;
    tertiary-fixed-dim: #c2c1f9;
    on-tertiary: #ffffff;
    on-tertiary-fixed: #151543;
    on-tertiary-fixed-variant: #414271;
    tertiary-container: #e1dfff;
    on-tertiary-container: #151543;
    error: #ba1a1a;
    on-error: #ffffff;
    error-container: #ffdad6;
    on-error-container: #410002;
    surface: #f8f9ff;
    surface-alpha: rgba(248, 249, 255, 0.7);
    on-surface: #161c24;
    on-surface-variant: #414750;
    outline: #717782;
    outline-variant: #c1c7d2;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #2b313a;
    inverse-on-surface: #ebf1fd;
    inverse-primary: #a0c9ff;
    surface-dim: #d5dae6;
    surface-bright: #f8f9ff;
    surface-container-lowest: #ffffff;
    surface-container-low: #eff4ff;
    surface-container: #e9eefa;
    surface-container-high: #e3e8f4;
    surface-container-highest: #dde3ee;
}