/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┳┓┏┓┏┓┳
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┣┫┃┃┣ ┃
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┛┗┗┛┻ ┻
 *                             
 */


* {
    primary: #006c4a;
    primary-fixed: #8cf7c4;
    primary-fixed-alpha: rgba(140, 247, 196, 0.2);
    primary-fixed-dim: #70daa9;
    on-primary: #ffffff;
    on-primary-fixed: #002114;
    on-primary-fixed-variant: #005236;
    primary-container: #6ad5a4;
    on-primary-container: #003b26;
    secondary: #406653;
    secondary-fixed: #c2ecd3;
    secondary-fixed-dim: #a7d0b8;
    on-secondary: #ffffff;
    on-secondary-fixed: #002114;
    on-secondary-fixed-variant: #284e3c;
    secondary-container: #c2ecd3;
    on-secondary-container: #2a4f3d;
    tertiary: #8c4e2e;
    tertiary-fixed: #ffdbcb;
    tertiary-fixed-dim: #ffb692;
    on-tertiary: #ffffff;
    on-tertiary-fixed: #341100;
    on-tertiary-fixed-variant: #6f3719;
    tertiary-container: #ffae86;
    on-tertiary-container: #562406;
    error: #ba1a1a;
    on-error: #ffffff;
    error-container: #ffdad6;
    on-error-container: #410002;
    surface: #f5fbf5;
    surface-alpha: rgba(245, 251, 245, 0.7);
    on-surface: #171d19;
    on-surface-variant: #3e4942;
    outline: #6e7a72;
    outline-variant: #bdcac0;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #2c322e;
    inverse-on-surface: #edf2ec;
    inverse-primary: #70daa9;
    surface-dim: #d6dbd6;
    surface-bright: #f5fbf5;
    surface-container-lowest: #ffffff;
    surface-container-low: #f0f5ef;
    surface-container: #eaefe9;
    surface-container-high: #e4eae4;
    surface-container-highest: #dee4de;
}