/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┳┓┏┓┏┓┳
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┣┫┃┃┣ ┃
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┛┗┗┛┻ ┻
 *                             
 */


* {
    primary: #b82100;
    primary-fixed: #ffdad3;
    primary-fixed-alpha: rgba(255, 218, 211, 0.2);
    primary-fixed-dim: #ffb4a4;
    on-primary: #ffffff;
    on-primary-fixed: #3e0500;
    on-primary-fixed-variant: #8d1700;
    primary-container: #ffdad3;
    on-primary-container: #3e0500;
    secondary: #7f543b;
    secondary-fixed: #ffdbc9;
    secondary-fixed-dim: #f3ba9b;
    on-secondary: #ffffff;
    on-secondary-fixed: #311302;
    on-secondary-fixed-variant: #643d26;
    secondary-container: #ffdbc9;
    on-secondary-container: #311302;
    tertiary: #815521;
    tertiary-fixed: #ffdcbd;
    tertiary-fixed-dim: #f6bb7e;
    on-tertiary: #ffffff;
    on-tertiary-fixed: #2c1600;
    on-tertiary-fixed-variant: #663e0a;
    tertiary-container: #ffdcbd;
    on-tertiary-container: #2c1600;
    error: #ba1a1a;
    on-error: #ffffff;
    error-container: #ffdad6;
    on-error-container: #410002;
    surface: #fff8f6;
    surface-alpha: rgba(255, 248, 246, 0.7);
    on-surface: #271815;
    on-surface-variant: #55423e;
    outline: #89726d;
    outline-variant: #dcc1bb;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #3d2c29;
    inverse-on-surface: #ffede9;
    inverse-primary: #ffb4a4;
    surface-dim: #f0d4ce;
    surface-bright: #fff8f6;
    surface-container-lowest: #ffffff;
    surface-container-low: #fff0ee;
    surface-container: #ffe9e5;
    surface-container-high: #ffe2dc;
    surface-container-highest: #f9dcd6;
}