[Desktop Entry]
Version=1.0
Name=Micro Econ
Comment=Micro Econ
Exec=launch-webapp https://saylordotorg.github.io/text_microeconomics-theory-through-applications/index.html
Terminal=false
Type=Application
Icon=~/.local/share/applications/icons/Micro Econ.png
StartupNotify=true
