[Desktop Entry]
Version=1.0
Name=OmeTV
Comment=OmeTV
Exec=launch-webapp https://ome.tv/
Terminal=false
Type=Application
Icon=/home/abr/.local/share/applications/icons/OmeTV.png
StartupNotify=true
