[Desktop Entry]
Version=1.0
Name=EconGraphs
Comment=EconGraphs
Exec=launch-webapp https://www.econgraphs.org/
Terminal=false
Type=Application
Icon=~/.local/share/applications/icons/EconGraphs.png
StartupNotify=true
