[Desktop Entry]
Version=1.0
Name=Macro Econ
Comment=Macro Econ
Exec=launch-webapp https://saylordotorg.github.io/text_macroeconomics-theory-through-applications/
Terminal=false
Type=Application
Icon=~/.local/share/applications/icons/Macro Econ.png
StartupNotify=true
