[Desktop Entry]
Version=1.0
Name=X
Comment=X
Exec=launch-webapp https://x.com/home
Terminal=false
Type=Application
Icon=/home/abr/.local/share/applications/icons/X.png
StartupNotify=true
